<div class="rates_wrapper">
    <div class="rates">
        <div class="main_header">
            <div>
                <ol class="breadcrumbs info_pages" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li class="main_home_link" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="https://uplata.ua/" itemprop="item">
                            <span itemprop="name">
                                Главная
                            </span>
                        </a>
                        <meta content="1" itemprop="position">
                        
                    </li>
                    <li>
                        <img alt="" src="https://uplata.ua/front/index/img/triangle.svg">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <h1 itemprop="name">
                            Тарифы
                        </h1>
                        <meta content="2" itemprop="position">
                        
                    </li>
                </ol>
            </div>
        </div>
        <div class="sector main_rates_list">
            <div class="icon">
                <img alt="Тарифы на первод средств с карты на карту | сервис Uplata.ua" src="/assets/imgs/tarif/ic-pricing-c-2-c.svg" title="Тарифы на перевод средств с карты на карту">
                <span class="desktop_hide">Перевод средств с карты на карту</span>
            </div>
            <div class="info">
                <span class="mobile_hide">Перевод средств с карты на карту</span>
                <p>Размер комиссии зависит от направления перевода:</p>
                <div class="element_wrapper">
                    <div class="element black_span">
                        <div class="rows">
                            <div class="row">
                                <p>с карты Uplata на карту Uplata</p>
                                <span class="orange_span" style="min-width: 120px;">БЕСПЛАТНО</span>
                            </div>
                            <div class="row">
                                <p>с карты любого банка на карту Uplata</p>
                                <span>5 грн.</span>
                            </div>
                            <div class="row">
                                <p>с карты Uplata на карту любого банка</p>
                                <span>1%</span>
                            </div>
                            <div class="row">
                                <p>с карты любого банка на карту любого банка</p>
                                <span>1% + 5 грн.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sector">
            <div class="icon">
                <img alt="Тарифы на оплату услуг онлайн| сервис Uplata.ua" src="/assets/imgs/tarif/ic-pricing-payment.svg" title="Тарифы на оплату услуг онлайн">
                <span class="desktop_hide">Оплата услуг</span>
            </div>
            <div class="info">
                <span class="mobile_hide">Оплата услуг</span>
                <p>Размер комиссии зависит от получателя и суммы платежа. Для просмотра комиссии выберите интересующую Вас услугу, введите лицевой счет (или иной идентификатор плательщика) и сумму. Здесь же вы увидите комиссию по данному платежу.</p>
            </div>
        </div>

        <div class="sector main_rates_list">
        	<div class="icon">
                <img alt="Тарифы на оплату услуг онлайн| сервис Uplata.ua" src="/assets/imgs/tarif/rates_icon.svg" title="Тарифы на оплату услуг онлайн">
                <span class="desktop_hide">Тарифы по карте Uplata</span>
            </div>
            <div class="info">
	            <div class="main_title mobile_hide">
	            	<p>Тарифы по карте Uplata</p>
	            </div>
				<div class="element_wrapper">
                    <div class="element">
                        <p class="title">ОТКРЫТИЕ СЧЕТА</p>
                        <div class="rows">
                            <div class="row">
                                <p>Открытие и обслуживание карты Uplata</p>
                                <span>БЕСПЛАТНО</span>
                            </div>
                        </div>
                    </div>
                    <div class="element">
                        <p class="title">ВЫДАЧА НАЛИЧНЫХ</p>
                        <div class="rows">
                            <div class="row">

                                <p>в банкоматах и кассах OTP Bank, сети «АТМоСфера»</p>
                                <span class="orange_span" style="min-width: 120px;">БЕСПЛАТНО</span>
                            </div>
                        </div>
                    </div>
                    <div class="element black_span">
                        <p class="title">ПОПОЛНЕНИЕ И ПЕРЕВОДЫ</p>
                        <div class="rows">
                            <div class="row">
                                <p>Перевод между картами Uplata на сайте uplata.ua</p>
                                <span class="orange_span" style="min-width: 120px;">БЕСПЛАТНО</span>
                            </div>
                            <div class="row">
                                <p>Пополнение в терминалах Uplata и ПриватБанка, в отделениях OTP Bank</p>
                                <span class="orange_span" style="min-width: 120px;">БЕСПЛАТНО</span>
                            </div>
                            <div class="row no_margin">
                                <p>Пополнение с любой карты на сайте uplata.ua</p>
                                <span>5 грн</span>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="see_all_rates" href="../../../front/index/download/uplata-card-prices-A5-ru.pdf" download="" target="_blank">Подробнее о тарифах</a>
            </div>
        </div>
    </div>
</div>