<div class="security_wrapper">
    <div class="rates security">
        <div class="main_header">
            <div>
                <ol class="breadcrumbs info_pages" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li class="main_home_link" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="https://uplata.ua/" itemprop="item">
                            <span itemprop="name">
                                Главная
                            </span>
                        </a>
                        <meta content="1" itemprop="position">
                        
                    </li>
                    <li>
                        <img alt="" src="https://uplata.ua//front/index/img/triangle.svg">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <h1 itemprop="name">
                            Безопасность
                        </h1>
                        <meta content="2" itemprop="position">
                        
                    </li>
                </ol>
            </div>
        </div>
        <div class="sector">
            <div class="icon">
                <img alt="Безопасные платежи и переводы с поддержкой Secure Sockets Layer (SSL) | сервис Uplata.com.ua" src="https://uplata.ua/front/index/img/paysystem-logo-ssl.svg" title="Безопасные платежи и переводы с поддержкой Secure Sockets Layer (SSL)">
                    <p>
                        SSL
                    </p>
                
            </div>
            <div class="info">
                <p>
                    Криптографический протокол Secure Sockets Layer (SSL) – обеспечивает конфиденциальное соединение и безопасную передачу данных благодаря современным методам шифрования. Принцип безопасности – один из ключевых для Uplata. Поэтому мы осуществляем автоматическое ssl-шифрование данных при передаче любой конфиденциальной информации от Вашего компьютера к серверу. Надежность нашего сертификата подтверждена международным агентством   , а длина ключа составляет 256 бит.
                </p>
            </div>
        </div>
        <div class="sector">
            <div class="icon">
                <div class="logo_item for_pci_dss">
                    <a class="pci_dss_link" href="http://compliance-control.eu/cert/uplata/pcidss_compliance.html" target="_blank">
                        <img alt="Безопасные платежи и переводы с поддержкой PCI DSS| сервис Uplata.com.ua" class="gray_pci_dss" src="https://uplata.ua//front/index/img/second_screen_icons/new_pci_dcc_g.png" title="Безопасные платежи и переводы с поддержкой PCI DSS">
                        <img alt="Безопасные платежи и переводы с поддержкой PCI DSS| сервис Uplata.com.ua" class="color_pci_dss" src="https://uplata.ua//front/index/img/second_screen_icons/new_pci_dcc_c.png" title="Безопасные платежи и переводы с поддержкой PCI DSS">
                            
                        
                    </a>
                </div>
                <!-- <img title="Безопасные платежи и переводы с поддержкой PCI DSS" src="../../../front/index/img/paysystem-logo-pci.svg" alt="Безопасные платежи и переводы с поддержкой PCI DSS| сервис Uplata.com.ua" /> -->
                <p>
                    PCI DSS
                </p>
            </div>
            <div class="info">
                <p>
                    <a href="http://compliance-control.eu/cert/uplata/pcidss_compliance.html" style="color: #fd8247 " target="_blank">
                        Payment Card Industry Data Security Standard (PCI DSS)
                    </a>
                    – стандарт безопасности данных международных платежных систем Visa и MasterCard. PCI DSS еще в далеком 2006 году стал обязателен для любой компании, которая в той или иной мере осуществляет операции с платежными картами MasterCard и Visa. Не будем утомлять подробным описанием стандарта, скажем лишь, что он содержит 12 требований, начиная от построения системы защиты данных владельцев платежных карт и заканчивая разработкой всевозможных политик безопасности. Вы можете быть уверены, что любая оплата услуг или перевод денежных средств на нашем сайте происходит в соответствии с требованиями последнего стандарта PCI DSS 3.2
                </p>
            </div>
        </div>
    </div>
</div>