<div class="about_us">
    <section>
        <div class="breadcrumbs_wrapper">
            <ol class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a href="https://uplata.ua/" itemprop="item">
                        <span itemprop="name">
                            Главная
                        </span>
                    </a>
                    <meta content="1" itemprop="position">
                    
                </li>
                <li>
                    <img alt="" src="https://uplata.ua/front/index/img/triangle.svg">
                    
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <h1 itemprop="name">
                        О нас
                    </h1>
                    <meta content="2" itemprop="position">
                    
                </li>
            </ol>
        </div>
        <div class="section_info">
            <h2>
                Привет!
            </h2>
            <div class="mobile_hide">
                <p>
                    Обычно на этой странице пишут опусы на тему
                </p>
                <p>
                    миссии и ценностей компании, регалии и чины
                </p>
                <p>
                    больших боссов, количество офисов, лет на рынке и
                </p>
                <p>
                    полученных наград.
                </p>
            </div>
            <div class="desctop_hide">
                <p>
                    Обычно на этой странице пишут опусы на тему
                    миссии и ценностей компании, регалии и чины
                    больших боссов, количество офисов, лет на рынке и
                    полученных наград.
                </p>
            </div>
            <img alt="О нас | сервис Uplata.com.ua" class="amout_us_medal" src="/assets/imgs/onas/medal.svg" title="О нас">
                <p>
                    У нас пока еще всего этого нет, поэтому мы просто напишем кто мы и почему мы.
                </p>
                <h2 class="begin mobile_hide">
                    Начнем
                </h2>
            
        </div>
        <div class="button animated bounce">
            <img alt="" src="/assets/imgs/onas/btn-scroll.svg">
            
        </div>
    </section>
    <section>
        <div class="desctop_hide mobile_version screen_two">
            <p>
                Мы – команда инициативных и любящих свое дело людей, которые по счастливому стечению обстоятельств собрались вместе делать хороший финансовый сервис. Мы устали от скучных, консервативных и неудобных банков. Где очереди, миллионы бумажек, «подойдите в 5-е окошко», «а вот тут было написано мелким шрифтом».
            </p>
            <img alt="Дружественный финансовый сервис от людей, любящих свое дело | сервис Uplata.com.ua" src="/assets/imgs/onas/uplata-character.svg" title="Дружественный финансовый сервис от людей, любящих свое дело">
                <p>
                    Мы верим, что банкинг может быть приятным, удобным и неутомительным. Мы такие же как вы люди, и мы можем общаться на простом человеческом языке. Мы не будем утомлять вас сложными юридическими, бухгалтерскими, банковскими терминами (как минимум там, где нам это позволяют Законы Украины :)
                </p>
            
        </div>
        <div class="left_item mobile_hide">
            <p>
                Мы – команда инициативных и любящих свое дело людей, которые по счастливому стечению обстоятельств собрались вместе делать хороший финансовый сервис. Мы устали от скучных, консервативных и неудобных банков. Где очереди, миллионы бумажек, «подойдите в 5-е окошко», «а вот тут было написано мелким шрифтом».
            </p>
            <p>
                Мы верим, что банкинг может быть приятным, удобным и неутомительным. Мы такие же как вы люди, и мы можем общаться на простом человеческом языке. Мы не будем утомлять вас сложными юридическими, бухгалтерскими, банковскими терминами (как минимум там, где нам это позволяют Законы Украины :)
            </p>
        </div>
        <div class="right_item mobile_hide">
            <img alt="Дружественный финансовый сервис от людей, любящих свое дело | сервис Uplata.com.ua" src="/assets/imgs/onas/uplata-character.svg" title="Дружественный финансовый сервис от людей, любящих свое дело">
            
        </div>
    </section>
    <section class="mobile_hide">
        <div class="left_item">
            <div class="item_wrapper">
                <div class="item">
                    <img alt="" class="right_arrow" src="/assets/imgs/onas/arrows/arrow-straight-right.svg">
                        <img alt="Платежи и карточки без визита в банк | сервис Uplata.com.ua" src="/assets/imgs/onas/ic-about-1.svg" title="Платежи и карточки без визита в банк">
                            <h3>
                                Просто представьте
                            </h3>
                            <p>
                                Мы докажем вам, что платежи - это не только касса, карточку можно получить без визита к менеджеру, а кредиты и депозиты могут существовать и без банков вовсе.
                            </p>
                        
                    
                </div>
            </div>
            <div class="item_wrapper">
                <div class="item">
                    <img alt="" class="right_arrow" src="/assets/imgs/onas/arrows/arrow-straight-right.svg">
                        <img alt="Умная платежная карта | сервис Uplata.com.ua" src="/assets/imgs/onas/ic-about-3.svg" title="Умная платежная карта">
                            <h3>
                                Присоединяйтесь
                            </h3>
                            <p>
                                Мы работаем над умной карточкой Uplata, с которой можно не только удобно тратить деньги, но еще контролировать и понимать, куда эти деньги тратятся.
                            </p>
                        
                    
                </div>
            </div>
        </div>
        <div class="right_item">
            <div class="item_wrapper">
                <div class="item">
                    <img alt="" class="left_arrow" src="/assets/imgs/onas/arrows/arrow-rounded-left.svg">
                        <img alt="Персональные финансы | сервис Uplata.com.ua" src="/assets/imgs/onas/ic-about-2.svg" title="Персональные финансы">
                            <h3>
                                В путь!
                            </h3>
                            <p>
                                В нашей маленькой (пока еще) команде собралась веселая тусовка айтишников, финансистов и маркетологов. И мы точно знаем, что нужно делать, чтобы получить крутой и полезный продукт. Для этого мы каждый день шаг за шагом движемся к своей великой цели.
                            </p>
                        
                    
                </div>
            </div>
            <div class="item_wrapper">
                <div class="item">
                    <img alt="" class="left_arrow" src="/assets/imgs/onas/arrows/arrow-rounded-left.svg">
                        <img alt="" src="/assets/imgs/onas/ic-about-4.svg">
                            <h3>
                                Чем еще удивим?
                            </h3>
                            <p>
                                Представьте себе самую умную и удобную домашнюю бухгалтерию, которая сама себя может посчитать! А пока вы ее представляете – мы ее уже делаем :)
                            </p>
                        
                    
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="left_item mobile_hide">
            <div class="item_wrapper">
                <div class="item">
                    <img alt="" class="right_arrow" src="/assets/imgs/onas/arrows/arrow-straight-right.svg">
                        <img alt="Домашняя бухгалтерия | сервис Uplata.com.ua" src="/assets/imgs/onas/ic-about-5.svg" title="Домашняя бухгалтерия">
                            <h3>
                                За работу!
                            </h3>
                            <p>
                                Мы могли бы еще много о себе говорить, но нужно идти работать. Ведь чем больше мы работаем, тем быстрее все это произойдет.
                            </p>
                        
                    
                </div>
            </div>
        </div>
        <div class="right_item mobile_hide">
            <div class="item_wrapper">
                <div class="item">
                    <img alt="Обратная связь | сервис Uplata.com.ua" src="/assets/imgs/onas/ic-about-6.svg" title="Обратная связь">
                        <a class="callback_link" href="../../../#">
                            Пишите нам
                        </a>
                        <p>
                            Мы открыты для идей и предложений, а также всегда рады конструктивной критике. Для нас действительно важно, чтобы вы были довольны, и мы делаем все, чтобы так и было.
                        </p>
                    
                </div>
            </div>
        </div>
        <div class="write_to_us desctop_hide">
            <div class="item_wrapper">
                <div class="item">
                    <img alt="Обратная связь | сервис Uplata.com.ua" src="/assets/imgs/onas/ic-about-6.svg" title="Обратная связь">
                        <a class="callback_link" href="../../../#">
                            Пишите нам
                        </a>
                        <p>
                            Мы открыты для идей и предложений, а также всегда рады конструктивной критике. Для нас действительно важно, чтобы вы были довольны, и мы делаем все, чтобы так и было.
                        </p>
                    
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="com_uplata">
            <div class="orange_border">
            </div>
            <p>
                <span>
                    Sincerely yours,
                </span>
                <span>
                    команда Uplata
                </span>
            </p>
            <div class="orange_border">
            </div>
        </div>
        <div class="ps">
            <p class="ps_text">
                P.S.
            </p>
            <div>
                <p>
                    И еще важный момент:
                </p>
                <p>
                    Если вы хотите у нас работать, отправляйте резюме сюда:
                    <a href="mailto:I_want_to_work_at@uplata.com.ua">
                        I_want_to_work_at@uplata.com.ua
                    </a>
                    .
                </p>
                <p style="display: none;">
                    Или смотрите открытие вакансии
                    <a>
                        здесь
                    </a>
                    .
                </p>
            </div>
        </div>
    </section>
</div>