<div class="legal">
    <div class="main_header">
        <div>
             <ol itemscope="" itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs info_pages">
                 <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="main_home_link">
                     <a itemprop="item" href="https://uplata.ua/">
                         <span itemprop="name">Головна</span>
                     </a>
                     <meta itemprop="position" content="1">
                 </li>

                <li><img src="https://uplata.ua/front/index/img/triangle.svg" alt=""></li>

                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                     <h1 itemprop="name">Правова інформація</h1>
                     <meta itemprop="position" content="2">
                 </li>
             </ol>
        </div>
    </div>
    <div class="sector">
        <p>Послуги на платіжному сервісі Uplata здійснюються через &nbsp;<a href="http://www.fortex-f.com.ua" target="_blank">ТОВ «ФОРТЕКС-ФІНАНС»</a></p> 
        <p>відповідно до умов  <a href="https://uplata.ua/oferta" target="_blank">Публічного договору</a></p>
    </div>
    <div class="sector">
        <h2>ТОВ "ФОРТЕКС-ФІНАНС»</h2>
        <span class="gray">Повне найменування юридичної особи:</span>
        <p>ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ «ФОРТЕКС-ФІНАНС»</p>
        <p><span class="gray">Код ОКПО:</span> 39859779</p>
        <p><span class="gray">Код КОАТУУ:</span> 5110137500</p>
        <p><span class="gray">Поштова адреса: </span>65014 м. Одеса, провулок Лєрмонтовський, будинок 13</p>
    </div>
    <div class="sector">
        <p class="sector_title">Види фінансових послуг:</p>
        <ul>
            <li>надання гарантій та поручительств;</li>
            <li>надання коштів у позику, в тому числі на умовах фінансового кредиту;</li>
            <li>факторинг;</li>
            <li>фінансовий лізинг;</li>
            <li>надання послуг з переказу коштів.</li>
            
            
        </ul>
    </div>
    <div class="sector">
        <p class="sector_title no_margin">Відомості про власників істотної участі:</p>
        
        <p>Власником істотної участі, з часткою 100%, є ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ "ПЛАТІЖНІ РІШЕННЯ УКРАЇНИ" (ЄДРПОУ 40945551). </p>
        <p><span class="gray">Місцезнаходження: </span>65014, м.Одеса, пров. Лермонтовський, буд. 13.</p>
    </div>
    <div class="sector">
        <p class="sector_title">Відомості про керівника юридичної особи:</p>
        <p><span class="gray">Директор:</span>Скрипнік Валерій Володимирович</p>
    </div>
    <div class="sector">
        <p class="sector_title">Відомості про ліцензії та дозвіли, видані фінансовій установі:</p>
        <div><a href="http://www.fortex-f.com.ua/right_to_work/license/2/license.pdf" download="">Ліцензія</a> <p>на переказ коштів у національній валюті без відкриття рахунків №42 від 29.04.2016</p></div>
        <div><a href="http://www.fortex-f.com.ua/right_to_work/%D1%81ertificate/3/%D0%A1%D0%B2%D0%B4%D0%BE%D1%86%D1%82%D0%B2%D0%BE%20615.pdf" download="">Свідоцтво</a> <p>про реєстрацію фінансової установи ФК № 615 від 20.08.2015 р.</p></div>
        <a href="#" download="" class="dwn_pdf" style="display:none;">Сохранить PDF</a>
    </div>
    <div class="sector">
        <p class="sector_title">ТОВ «ФОРТЕКС-ФІНАНС» є учасником наступних платіжних систем:</p>
<div><p>Внутрішньодержавна платіжна система 
</p> &nbsp;<a href="http://www.fbank.com.ua/" target="_blank">«FlashPay»</a></div>
    </div>
    <div class="border_bottom_orange"></div>
</div>