<div class="main_sections_wrapper for_one_page_scroll height-auto">

    <section class="first_section">

            <div class="slider_wrapper first_screen">
                <div class="start_page_slider slick-initialized slick-slider"><button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="">Previous</button>

                    <div aria-live="polite" class="slick-list draggable">
                        <div class="slick-track" role="listbox" style="opacity: 1; width: 6624px;">

                            <div class="slide_item zero_element slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 1656px;">
                                <h1>Uplata — это…</h1>
                                <p><span>самая лучшая </span><span>платежная карта</span></p>
                                <a href="/karta-uplata#section_six_id" class="item_button" tabindex="-1">заказать карту</a>
                                <div class="poligons"></div>
                                <div class="gradient"></div>
                                <span class="overlay"></span>
                                <div class="squares"></div>
                                <div class="img_wrapper">
                                    <img src="https://uplata.ua/front/index/img/slider_images/slide0.jpg" alt="Пополняйте счет и оплачивайте услуги дома | сервис Uplata.ua" title="Пополняйте счет и оплачивайте услуги дома" class="mobile_hide"> 
                                    <img src="https://uplata.ua/front/index/img/slider_images/slide0_m.jpg" alt="Пополняйте счет и оплачивайте услуги дома | сервис Uplata.ua" title="Пополняйте счет и оплачивайте услуги дома" class="desktop_hide"> 
                                </div>
        
                                <img src="https://uplata.ua/front/index/img/slider_images/it-is-all-you-need-ru.svg" alt="" class="absolute_images first_abs_img">

                            </div>
                        </div>
                    </div>
                    
                    <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="">Next</button>
                </div>
            </div>
  
        <div class="white_bg_absolute"></div>
        <div class="second_screen">
            <div class="items_wrapper">
                <div class="item">
                    <div class="item_header">
                        <div class="logo">
                            <img src="https://uplata.ua/front/index/img/ic-goto-transfers.svg" alt="Перевести деньги | сервис uplata.com.ua" title="Перевести деньги">
                        </div>
                        <div class="item_name">
                            <a href="/card2card">Перевести деньги</a>
                        </div>
                    </div>
                    <div class="item_body">
                        <div class="item_logo_card_wrapper">
                            <div class="item_card">
                                <img src="https://uplata.ua/front/index/img/logo-card-visa.svg" alt="VISA | сервис uplata.com.ua" title="VISA">
                            </div>
                            <div class="item_card">
                                <img src="https://uplata.ua/front/index/img/logo-card-mastercard.svg" alt="MasterCard | сервис uplata.com.ua" title="MasterCard">
                            </div>
                            <div class="item_card">
                                <img src="https://uplata.ua/front/index/img/logo-card-maestro.svg" alt="Maestro | сервис uplata.com.ua" title="Maestro">
                            </div>
                        </div>
                        <div class="form card2card_transfer">
                            <a href="/card2card">С КАРТЫ НА КАРТУ</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item_header">
                        <div class="logo">
                            <img src="https://uplata.ua/front/index/img/ic-goto-payment-mobile.svg" alt="Пополнить мобильный | сервис uplata.com.ua" title="Пополнить мобильный">
                        </div>
                        <div class="item_name">
                            <a href="/popolnit-mobilnyy">Пополнить мобильный</a>
                        </div>
                    </div>
                    <div class="item_body">
                        <div class="form">
                            <form action="/popolnit-mobilnyy/" class="second_screen_deposit_mobile_phone" name="second_screen_deposit_mobile_phone" id="second_screen_deposit_mobile_phone">
                                <label>
                                    <span>Номер телефона</span>
                                    <input type="text" class="mobile_deposit_input" name="user_phone" id="user_phone_from_start_page" required="required" autocomplete="off" placeholder="(000) 000 - 00 - 00" maxlength="19">
                                </label>
                                <label>
                                    <span>Сумма, грн</span>
                                    <div>
                                        <input type="text" class="active_input" name="user_amount" pattern="[0-9,.]{1,10}" required="required" autocomplete="off" id="user_phone_amount_start_page">
                                        <input type="submit" value="ВПЕРЁД" class="not_valid not_valid_amount second_screen_deposit_mobile_phone_submit">
                                    </div>
                                </label>
                                
                            </form>
                        </div>
                    </div>
                </div>
                <div class="item communal_services">
                    <div class="item_header">
                        <div class="logo">
                            <img src="https://uplata.ua/front/index/img/ic-goto-payment-communal.svg" alt="Оплатить коммуналку | сервис uplata.com.ua" title="Оплатить коммуналку">
                        </div>
                        <div class="item_name">
                            <a href="/oplata-kommunalnyh-uslug">Оплатить коммуналку</a>
                        </div>
                    </div>
                    <div class="item_body">
                        <ul>
                            <li><a href="https://uplata.ua/oplata-kommunalnyh-uslug/gerc-92247/?secure"><div class="logo"><img src="https://cdn.uplata.com/pservices/i/2341.png" alt=""></div><p>ГЕРЦ</p></a></li>
                            <li><a href="https://uplata.ua/oplata-kommunalnyh-uslug/givc-kiev-63343/?secure"><div class="logo"><img src="https://cdn.uplata.com/pservices/i/1360.png" alt=""></div><p>ГИВЦ</p></a></li>
                            <li><a href="https://uplata.ua/internet-i-televidenie/tenet-internet-odessa-71357/?secure"><div class="logo"><img src="https://cdn.uplata.com/pservices/i/1583.png" alt=""></div><p>TENET</p></a></li>
                        </ul>
                        <a href="/oplata-kommunalnyh-uslug" class="item_body_more_link">Ещё…</a>
                    </div>
                </div>
                <div class="item">
                    <div class="item_header">
                        <div class="logo">
                            <img src="https://uplata.ua/front/index/img/ic-goto-payment-more.svg" alt="Другие услуги | сервис uplata.com.ua" title="Другие услуги">
                        </div>
                        <div class="item_name second_screen_other_service">
                            <a href="/drugie-uslugi">Другие услуги</a>
                        </div>
                    </div>
                    <div class="item_body">
                        <p>Найди и оплати любой сервис или услугу среди более чем 1500, доступных к оплате</p>
                        <div class="form">
                            <form action="/search" class="second_screen_search_form" name="second_screen_search_form" id="second_screen_search_form">
                                <input type="text" class="active_input" placeholder="Поиск" name="search_input" id="search_input" autocomplete="off">
                                <input type="submit" value="" class="not_valid desktop_search_button">
                            </form>
                            <div class="autocomplete-suggestions"><p></p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="orange_border landing_orange_border"></div>
            <div class="info">
                <p>Мы работаем с ведущими международными платежными системами и поддерживаем современные технологии защиты платежей</p>
            </div>
            <div class="security">
  
                <div class="logo_item mobile_hide">
                    <img src="https://uplata.ua/front/index/img/second_screen_icons/paysystem-logo-master-card-securecode.svg" alt="MasterCard SecureCode | сервис uplata.com.ua" title="MasterCard SecureCode" class="">
                </div>
  
                <div class="logo_item mobile_hide">
                    <img src="https://uplata.ua/front/index/img/second_screen_icons/verified-by-visa-logo.svg" alt="Verified by Visa | сервис uplata.com.ua" title="Verified by Visa" class="">
                </div>
  
                <div class="logo_item mobile_hide">
                    <img src="https://uplata.ua/front/index/img/second_screen_icons/paysystem-logo-visa.svg" alt="Visa | сервис uplata.com.ua" title="Visa" class="">
                </div>
  
                <div class="logo_item mobile_hide">
                    <img src="https://uplata.ua/front/index/img/second_screen_icons/paysystem-logo-master-card.svg" alt="MasterCard | сервис uplata.com.ua" title="MasterCard" class="">
                </div>
  
                <div class="logo_item mobile_hide">
                    <img src="https://uplata.ua/front/index/img/second_screen_icons/paysystem-logo-platon.svg" alt="Platon | сервис uplata.com.ua" title="Platon" class="">
                </div>
  
                <div class="logo_item for_pci_dss mobile_hide">
                    <a class="pci_dss_link" href="http://compliance-control.eu/cert/uplata/pcidss_compliance.html" target="_blank">
                        <img src="https://uplata.ua/front/index/img/second_screen_icons/new_pci_dcc_g.png" alt="PaySystem | сервис uplata.com.ua" title="PaySystem" class="gray_pci_dss">
                        <img src="https://uplata.ua/front/index/img/second_screen_icons/new_pci_dcc_c.png" alt="PaySystem | сервис uplata.com.ua" title="PaySystem" class="color_pci_dss">
                    </a>
                </div>
  
                <div class="logo_item mobile_hide">
                    <img src="https://uplata.ua/front/index/img/second_screen_icons/mobile/paysystem-logo-ssl.svg" alt="SSL Secure | сервис uplata.com.ua" title="SSL Secure">
                </div>
  
                <div class="security_mobile_version desktop_hide">
  
                    <div class="couple first_element">
                        <div class="logo_item">
                            <img src="https://uplata.ua/front/index/img/second_screen_icons/paysystem-logo-master-card-securecode.svg" alt="MasterCard SecureCode | сервис uplata.com.ua" title="MasterCard SecureCode" class="">
                        </div>
  
                        <div class="logo_item">
                            <img src="https://uplata.ua/front/index/img/second_screen_icons/verified-by-visa-logo.svg" alt="Verified by Visa | сервис uplata.com.ua" title="Verified by Visa" class="">
                        </div>
                    </div>
  
                    <div class="couple second_element">
                        <div class="logo_item">
                            <img src="https://uplata.ua/front/index/img/second_screen_icons/paysystem-logo-visa.svg" alt="Visa | сервис uplata.com.ua" title="Visa" class="">
                        </div>
  
                        <div class="logo_item">
                            <img src="https://uplata.ua/front/index/img/second_screen_icons/paysystem-logo-master-card.svg" alt="MasterCard | сервис uplata.com.ua" title="MasterCard" class="">
                        </div>
                    </div>
  
                    <div class="couple third_element">
                        <div class="logo_item">
                            <img src="https://uplata.ua/front/index/img/second_screen_icons/paysystem-logo-platon.svg" alt="Platon | сервис uplata.com.ua" title="Platon" class="">
                        </div>
  
                        <div class="logo_item for_pci_dss">
                            <a class="pci_dss_link" href="http://compliance-control.eu/cert/uplata/pcidss_compliance.html" target="_blank">
                                <img src="https://uplata.ua/front/index/img/second_screen_icons/new_pci_dcc_g.png" alt="PaySystem | сервис uplata.com.ua" title="PaySystem" class="gray_pci_dss">
                            </a>
                        </div>
                    </div>
  
                    <div class="couple solo">
                        <div class="logo_item">
                            <img src="https://uplata.ua/front/index/img/second_screen_icons/mobile/paysystem-logo-ssl.svg" alt="SSL Secure | сервис uplata.com.ua" title="SSL Secure" class="desktop_hide">
                        </div>
                    </div>
  
                </div>
            </div>
        </div>
    </section>
  
    <section class="first_screen_info main_section height690">
        <div class="item_screen_slide first_screen">
            <div class="info">
                <h2>Мы не умничаем</h2>
                <div class="orange_border"></div>
                <p>Мы, как и вы, не любим банковскую и юридическую терминологию, поэтому мы говорим с вами человеческим языком. Все так, как бы вы это назвали в жизни.</p>
                <p class="new_text">Нет, мы не собираемся рассказывать вам анекдоты. Мы — серьезный финансовый сервис, где серьезные люди делают серьезные вещи. Только с нами все это можно делать в понятном и веселом интерфейсе ☺</p>
                <a href="/#right_side_element" class="link_to_registration">зарегистрироваться в Uplata</a>
            </div>
            <div class="two_elements move_container_wrapper">
                <div class="gray_elements mobile_hide">
                    <img src="https://uplata.ua/front/index/img/line-left.svg" alt="">
                    <div class="under_oval"></div>
                    <div class="move_container">
                        <div class="move_hider"></div>
                        <div class="move_icon"></div>
                    </div>
                </div>
                <div class="image_elements">
                    <div class="image"></div>
                </div>
                <div class="button_down_info_el bounce animated"></div>
            </div>
        </div>
    </section>
  
    <section class="second_screen_info main_section mobile_view" id="registration_in_uplata">
        <h1>4 причины зарегистрироваться</h1>
        <div class="elements_wrapper">
            <div class="left_side">
                <div class="item">
                    <div class="title">
                        <span>a</span>
                        <p>Абсолютно удобно</p>
                    </div>
                    <div class="description">
                        <p>Потому что для зарегистрированных пользователей мы предусмотрели личный кабинет с рабочим столом и удобными виджетами. Все для того, чтобы сделать платежи приятнее, а жизнь проще.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="title">
                        <span>б</span>
                        <p>Быстро</p>
                    </div>
                    <div class="description">
                        <p>После регистрации вы сможете все делать быстрее. Вы будете видеть именно те операции, которые вам нужны, а любые платежи сможете сохранить и повторить в пару кликов.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="title">
                        <span>в</span>
                        <p>Выгодно</p>
                    </div>
                    <div class="description">
                        <p>Наши зарегистрированные пользователи могут получать бонусы и пользоваться сервисами Uplata бесплатно!</p>
                    </div>
                </div>
                <div class="item">
                    <div class="title">
                        <span>г</span>
                        <p>Грамотно</p>
                    </div>
                    <div class="description">
                        <p>Вы всегда сможете посмотреть «когда», «сколько» и «за что» платили. Все в порядке и под контролем.</p>
                    </div>
                </div>
            </div>
            <div class="right_side" id="right_side_element">
                <div class="main_content start_page_body registration_element" id="registration_page_body">
                    <div class="login_form form_element">
                        <form action="#" name="registration_form" id="registration_form" class="main_login_form registration_form second_reg_form">
                            <div class="input_wrapper user_name_wrapper">
                                <label>
                                    <p class="placeholder">Имя</p>
                                    <input name="user_name" class="user_name" id="user_name" maxlength="30" type="text" pattern="[A-Za-zА-Яа-яЁёЇїҐґЄєІі0-9-!#$%&amp;'()* ,./:;<=>?@[\\\]_`'{|}~]{2,50}" required="required" autocomplete="off" value="">
                                    <div class="valid_element_indicator"></div>
                                </label>
                            </div>
  
                            <div class="input_wrapper user_email_wrapper">
                                <label>
                                    <p class="placeholder">Email</p>
                                    <input type="text" hidden="hidden" disabled="disabled" name="user_email" tabindex="-1">
                                    <input name="user_email" class="user_email" id="user_email" maxlength="50" type="text" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,50}$" required="required" autocomplete="off" value="">
                                    
                                    <div class="valid_element_indicator"></div>
                                    <img src="https://uplata.ua/front/index/img/not-4-spam.svg" alt="" class="not_4_spam">
                                </label>
                                <div class="user_info_error user_email_exist_login">
                                    <p>Этот email уже зарегистрирован. Если помните пароль <a href="#" class="enter_on_site">войдите на сайт</a> Если забыли - <a href="#" class="reset_you_password">нажмите сюда.</a></p>
                                    <span></span>
                                </div>
                                <div class="user_info_error wrong_written_email">
                                    <p>Email введен неверно, проверьте правильность ввода.</p>
                                    <span></span>
                                </div>
                            </div>
  
                            <div class="input_wrapper user_phone_nubmber_wrapper">
                                <label>
                                    <p class="placeholder">Номер телефона</p>
                                    <input name="user_phone" class="user_phone" id="user_phone" required="required" type="text" placeholder="" pattern="[0-9/ /()+-]{23,}" autocomplete="off" maxlength="23">
                                    <div class="valid_element_indicator"></div>
                                    <img src="https://uplata.ua/front/index/img/4-your-security.svg" alt="" class="your_security mobile_hide">
                                </label>
                                <div class="user_info_error existing_user_phone">
                                    <p>Указанный номер уже закреплен за одним из наших Клиентов. Пожалуйста, укажите другой номер телефона.  <a class="phone_error_login" href="#">Войти на сайт</a> или воспользоваться сервисом <a class="phone_error_reset_pass" href="#">сброс пароля</a></p>
                                    <span></span>
                                </div>
                            </div>
  
                            <div class="input_wrapper user_password_wrapper">
                                <label>
                                    <p class="placeholder">Пароль</p>
                                    <input type="password" class="fake_input" tabindex="-1">
                                    <input name="user_password" class="user_password" id="user_password" type="password" placeholder="" required="required">
                                    <div class="valid_element_indicator"></div>
                                </label>
                                <span class="show_password"></span>
                                <div class="user_info_error little_password">
                                    <p>Пароль должен состоять не менее чем из 8 букв, цифр, спецсимволов</p>
                                    <span></span>
                                </div>
                                <div class="user_info_error common">
                                    <p>Распространенный пароль или слово</p>
                                    <span></span>
                                </div>
                                <div class="user_info_error easy_password">
                                    <p>Пароль должен состоять не менее чем из 8 букв, цифр, спецсимволов</p>
                                    <span></span>
                                </div>
                            </div>
  
                            <div class="input_wrapper user_repeat_password_element">
                                <label>
                                    <p class="placeholder">Повторите пароль</p>
                                    <input name="user_repeat_password" class="user_repeat_password" id="user_repeat_password" type="password" placeholder="" required="required">
                                    <div class="valid_element_indicator"></div>
                                </label>
                                <span class="show_password"></span>
                                <div class="user_info_error do_not_match_passwords">
                                    <p>Пароли не совпадают</p>
                                    <span></span>
                                </div>
                            </div>
  
                            <div class="input_wrapper user_promocode_wrapper">
                                <label>
                                    <p class="placeholder">Промокод, если он есть</p>
                                    <input name="promo_code" class="promo_code" id="promo_code" type="text" placeholder="" pattern="[A-Za-zА-яа-я]{1,50}" autocomplete="off" value="">
                                    <span class="helper"></span>
                                    <div class="valid_element_indicator"></div>
                                </label>
                                <div class="user_info_error expired">
                                    <p>К сожалению, срок действия данного промокода уже закончился :(</p>
                                    <span></span>
                                </div>
                                <div class="user_info_error not_exist">
                                    <p>Нам очень жаль, но такого промокода не существует. Проверьте, правильно ли вы его написали</p>
                                    <span></span>
                                </div>
                                <div class="helper_info">
                                    <p>Введите ваш инвайткод из цифр 0-9 и букв (латиница A..Z, a..z) длиной до 10 символов</p>
                                    <span></span>
                                </div>
                            </div>
  
                            <input type="submit" value="ЗАРЕГИСТРИРОВАТЬСЯ" disabled="disabled" class="reg_button obscene_name wrong_user_reg_password not_same_passwords user_mail_invalid error_user_name second_reg_button exist_user_phone not_valid" id="main_enter_button">
                        </form>
  
                        <div class="user_agreement">
                            <p>Создавая аккаунт, я принимаю <a href="/oferta" target="_blank">условия Публичного договора</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
    <section class="third_screen_info main_section height690">
        <div class="item_screen_slide third_screen">
            <div class="info">
                <h2>Давайте дружить</h2>
                <div class="orange_border"></div>
                <p>Приглашай друзей в Uplata.ua и зарабатывайте на двоих до 100 грн. для оплаты комиссий.</p>
                <p>Пользоваться вместе не только веселее, но и бесплатнее ;)</p>
                <p class="link_wrapper">Подробности акции <a href="/faq#profitable_to_invite">здесь</a></p>
                <a href="/#right_side_element" class="link_to_registration">зарегистрироваться в Uplata</a>
            </div>
            <div class="two_elements move_container_wrapper">
                <div class="gray_elements mobile_hide">
                    <img src="https://uplata.ua/front/index/img/line-left.svg" alt="">
                    <div class="under_oval"></div>
                    <div class="move_container">
                        <div class="move_hider"></div>
                        <div class="move_icon"></div>
                    </div>
                </div>
                <div class="image_elements">
                    <div class="image"></div>
                </div>
                <div class="button_down_info_el bounce animated"></div>
            </div>
        </div>
    </section>
  
    <section class="section_six height-auto">
        <div class="info_text_content mobile_hide">
            <h3>4 причины зарегистрироваться</h3>
            <div class="item_wrapper">
                <div class="item">
                    <span class="letter">a</span><span>Абсолютно удобно</span>
                    <p>Потому что для зарегистрированных пользователей мы предусмотрели личный кабинет с рабочим столом и удобными виджетами. Все для того, чтобы сделать платежи приятнее, а жизнь проще.</p>
                </div>
                <div class="item">
                    <span class="letter">б</span><span>Быстрее</span>
                    <p>После регистрации вы сможете все делать быстрее. Вы будете видеть именно те операции, которые вам нужны, а любые платежи сможете сохранить и повторить в пару кликов.</p>
                </div>
                <div class="item">
                    <span class="letter">в</span><span>Выгодно</span>
                    <p>Наши зарегистрированные пользователи могут получать бонусы и пользоваться сервисами Uplata бесплатно!</p>
                </div>
                <div class="item">
                    <span class="letter">г</span><span>Грамотно</span>
                    <p>Вы всегда сможете посмотреть «когда», «сколько» и «за что» платили. Все в порядке и под контролем.</p>
                </div>
            </div>
        </div>
        <div class="invite_to_uplata mobile_hide">
            <h3>Присоединяйтесь к Uplata</h3>
            <p>Вам здесь понравится</p>
            <button>Зарегистрируйтесь, это бесплатно!</button>
            <div class="border_bottom"></div>
        </div>
        <div class="button_down bounce animated"></div>
  
        <div class="mobile_info_text_content desktop_hide">
            <h3>4 причины зарегистрироваться</h3>
            <div class="gallery_item">
  
                <div class="item">
                    <div class="title_item">
                        <span class="letter">a</span><span>Абсолютно удобно</span>
                    </div>
                    <p>Потому что для зарегистрированных пользователей мы предусмотрели личный кабинет с рабочим столом и удобными виджетами. Все для того, чтобы сделать платежи приятнее, а жизнь проще.</p>
                </div>
  
                <div class="item">
                    <div class="title_item">
                        <span class="letter">б</span><span>Быстрее</span>
                    </div>
                    <p>После регистрации вы сможете все делать быстрее. Вы будете видеть именно те операции, которые вам нужны, а любые платежи сможете сохранить и повторить в пару кликов.</p>
                </div>
  
                <div class="item">
                    <div class="title_item">
                        <span class="letter">в</span><span>Выгодно</span>
                    </div>
                    <p>Наши зарегистрированные пользователи могут получать бонусы и пользоваться сервисами Uplata бесплатно!</p>
                </div>
                <div class="item">
                    <div class="title_item">
                        <span class="letter">г</span><span>Грамотно</span>
                    </div>
                    <p>Вы всегда сможете посмотреть «когда», «сколько» и «за что» платили. Все в порядке и под контролем.</p>
                </div>
            </div>
            <div class="invite_to_uplata">
                <button>Зарегистрируйтесь, это бесплатно!</button>
            </div>
        </div>
    </section>
  
    <section class="last_section">
        <div class="coming_soon">
            <div class="left_submit_form">
                <div class="submit_wrapper">
                    <h1>Мы не стоим на месте</h1>
                    <div class="orange_border"></div>
                    <p>Совсем скоро у нас появятся новые сервисы. Подпишитесь на наши новости, и мы сообщим вам о них в первую очередь.</p>
                    <div class="input_wrapper">
                      <form action="#" name="user_subscribe_form" id="user_subscribe_form" class="user_subscribe_form">
                          <input type="text" name="mail" class="subcr_user_email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,100}$" required="required" autocomplete="off" placeholder="Введите email">
                          <input type="submit" class="wrong_email" value="подписаться">
                      </form>
                    </div>
                </div>
            </div>
            <div class="right_notebook_image"></div>
  
        </div>
    </section>
  
  </div>