<div class="faq">
    <div class="main_header">
        <ol itemscope="" itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs info_pages">
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="main_home_link">
                <a itemprop="item" href="https://uplata.com.ua/">
                    <span itemprop="name">Главная</span>
                </a>
                <meta itemprop="position" content="1">
            </li>

            <li><img src="https://uplata.com.ua/front/index/img/triangle.svg" alt=""></li>

            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <h1 itemprop="name">FAQ или часто задаваемые вопросы</h1>
                <meta itemprop="position" content="2">
            </li>
        </ol>
    </div>
    <div class="sector">
        <div class="sector_header">
            <h2>Общая информация</h2>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Что такое CVV2/CVС2 код?</p>
            </div>
            <div class="item_body">
                <p>Код CVC2 и CVV2 - это 3-х значный код безопасности, который находится на обратной стороне Вашей банковской карты Visa/MasterCard (три последние цифры).</p>
            </div>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Что такое 3-D Secure?</p>
            </div>
            <div class="item_body">
                <p>3-D SecureVerifiedbyVisa или MasterCardSecureCode - это протокол обработки Интернет-транзакций, разработанный и одобренный МПС Visa и MasterCard. Он предназначен для обеспечения безопасности интернет-платежей. Если Ваша карта поддерживает 3D Secure, в процессе оплаты Вам нужно подтвердить ее использование с помощью дополнительного ввода кода, полученного в SMS-сообщении.</p>
            </div>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Что делать, если не приходит SMS-код для подтверждения 3D Secure-проверки?</p>
            </div>
            <div class="item_body">
                <p>Есть несколько причин, когда такое возможно:</p>
                <ul>
                    <li>например, у Вас к карте не подключен SMS-банкинг. Для этого следует обратиться в Ваш банк, чтобы подключить услугу. Номер контакт-центра банка находится на обратной стороне карты;</li>
                    <li>например, за этой картой закреплен другой мобильный номер. Для этого следует обратиться в Ваш банк, чтобы изменить номер телефона;</li>
                    <li>например, память мобильного телефона переполнена SMS-сообщениями. Попробуйте удалить некоторые SMS-ки;</li>
                    <li>например, возникли проблемы с мобильной связью. Попробуйте выключить, а затем включить телефон для обновления настроек;</li>
                    <li>например, технические проблемы на стороне банка, который выпустил карту. Попробуйте повторить перевод чуть позже.</li>
                </ul>
            </div>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Как получить квитанцию об операции в Uplata?</p>
            </div>
            <div class="item_body">
                <p>В процессе оплаты услуг на сайте Uplata Вы можете указать email, на который Вам будет выслана квитанция об успешной операции. Кроме этого, мы предлагаем Вам скачать квитанцию сразу после успешного платежа/перевода или в любой момент в Истории операций (для зарегистрированных пользователей)</p>
            </div>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Если сумма списалась со счета дважды?</p>
            </div>
            <div class="item_body">
                <p>При платежах и переводах на сайте Uplata деньги перечисляются только один раз. Если средства с Вашего счета снялись дважды, то это ошибка банка. В этом случае деньги вернутся на Ваш счет автоматически.</p>
                <p>Если же деньги не вернулись на карту, обязательно обратитесь в службу поддержки банка, выпустившего Вашу карту, а также в службу поддержки Platon, которые отвечают за процедуру оплаты услуг и перевода средств, по телефону: 0(800)750-504 - бесплатно со стационарных и мобильных телефонов всех операторов Украины; или +38(044)339-99-04 - для международных звонков.</p>
            </div>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Что делать при возникновении ошибки?</p>
            </div>
            <div class="item_body">
                <p>Если по какой-то причине операция перевода или платежа завершилась неуспешно, пожалуйста, свяжитесь со службой поддержки наших друзей - Platon, которые помогают проводить оплату услуг и перевод средств: 0(800)750-504 - бесплатно со стационарных и мобильных телефонов всех операторов Украины; или +38(044)339-99-04 - для международных звонков.</p>
            </div>
        </div>
    </div>
    <div class="sector">
        <div class="sector_header">
            <h2>Переводы:</h2>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Где просмотреть размер комиссии, которая будет сниматься при переводе?</p>
            </div>
            <div class="item_body">
                <p>Комиссия за перевод с карты на карту зависит от направления перевода: с карты Uplata на карту Uplata - БЕСПЛАТНО; с карты любого банка на карту Uplata - 5 грн.; с карты Uplata на карту любого банка - 1%; с карты любого банка на карту любого банка - 1% от суммы перевода +5 грн. Комиссия списывается с Вашей карты вместе с суммой перевода. </p>
            </div>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Что я должен сделать, чтобы перевести деньги с карты на карту?</p>
            </div>
            <div class="item_body">
                <p>Для перевода между картами нужно указать:</p>
                <ul>
                    <li>Ваш номер карты, срок ее действия, а также секретный CVV2 / CVC2 код указанный на обороте карты</li>
                    <li>номер карты, на которую Вы переводите деньги</li>
                    <li>сумму перевода (внимание: она не должна превышать 25 000 грн)</li>
                </ul>
                <p>Кроме этого мы можем помочь сообщить Получателю о Вашем переводе, а именно:</p>
                <ul>
                    <li>отправить ему от нас уведомление. Для этого просто укажите номер его телефона</li>
                    <li>написать ему письмо с комментарием от Вас. Для этого укажите email получателя, и в текстовом поле напишите текст комментария.</li>
                </ul>
            </div>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Между какими картами можно делать переводы?</p>
            </div>
            <div class="item_body">
                <p>На нашем сайте Вы можете переводить деньги между любыми гривневыми картами любых банков Украины. Единственное исключение - корпоративные карты предприятий. Важно, чтобы карта, с которой Вы отправляете деньги была открыта для интернет-расчетов. Узнать, открыта ли карта для интернет-расчетов можно в контакт-центре банка по телефону, указанному на обороте карты.</p>
            </div>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Как быстро деньги будут зачислены на карту получателя?</p>
            </div>
            <div class="item_body">
                <p>В большинстве случаев деньги зачисляются на карту моментально. В редких случаях, зачисление может происходить до 3-х дней. Такой форс-мажор может произойти исключительно, если задержка происходит на стороне банка – получателя перевода.</p>
            </div>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>В какой валюте можно переводить деньги с карты на карту?</p>
            </div>
            <div class="item_body">
                <p>Согласно законодательству Украины, Вы можете делать переводы только в гривне.</p>
            </div>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Почему перевод не прошел?</p>
            </div>
            <div class="item_body">
                <p>Самые популярные причины возникновения ошибок или отмены перевода:</p>
                <ul>
                    <li>Ваша карта закрыта для операций в интернет или установлен лимит на операции</li>
                    <li>на карте Получателя существует ограничение на пополнение</li>
                    <li>на Вашей карте недостаточно средств</li>
                    <li>срок действия карты истек</li>
                    <li>на Вашей карте отключена проверка CVV кода</li>
                    <li>Вы переводите средства с (на) карту Приватбанка, который может ограничивать возможность переводов на внешних сервисах</li>
                </ul>
                <p>Чтобы наверняка разобраться в причинах отмены операции и найти решение, обратитесь в службу поддержки вашего банка. Номер контакт-центра банка находится на обратной стороне карты.</p>
            </div>
        </div>
    </div>
    <div class="sector">
        <div class="sector_header">
            <h2>Платежи:</h2>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Где посмотреть комиссию, которая будет сниматься при оплате?</p>
            </div>
            <div class="item_body">
                <p>Комиссия по каждому сервису - индивидуальна и может зависеть от суммы, на которую совершается платеж. Для просмотра комиссии выберите интересующую Вас услугу, введите номер счета, сумму. Здесь же Вы увидите комиссию по данному платежу.</p>
            </div>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Как быстро платеж поступит на счет поставщика услуг?</p>
            </div>
            <div class="item_body">
                <p>Как правило, деньги поступают на счет компании-поставщика услуг не позднее, чем на следующий банковский день после проведения платежа. Со многими компаниями (например, мобильными операторами, интернет-провайдерами и т.д.) система работает в режиме ускоренного зачисления платежей. Платеж при этом зачисляется в течение нескольких минут</p>
            </div>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Можно ли самостоятельно распечатать квитанцию, подтверждающую мой платеж?</p>
            </div>
            <div class="item_body">
                <p>Можно. Для этого воспользуйтесь опцией печати квитанции. Предложение распечатать квитанцию появляется после каждой операции оплаты или перевода. Кроме того, Вы можете отправить себе на email квитанцию в PDF</p>
            </div>
        </div>
    </div>
    <div class="sector">
        <div class="sector_header">
            <h2>Личный кабинет:</h2>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Для чего мне нужна регистрация?</p>
            </div>
            <div class="item_body">
                <p>Зарегистрировавшись, Вы получаете целый ряд преимуществ:</p>
                <ul>
                    <li>возможность получать денежные бонусы</li>
                    <li>историю Ваших платежей и переводов</li>
                    <li>осуществлять платежи и переводы всего в 1-2 клика</li>
                </ul>
            </div>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Как зарегистрироваться?</p>
            </div>
            <div class="item_body">
                <p>Кликайте на кнопку “Регистрация”. В форме, которая откроется, достаточно указать email, имя и придумать пароль, с которым Вы будете осуществлять вход в Личный кабинет Uplata.</p>
            </div>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Что делать, если мне на почту не приходит письмо для активации учетной записи?</p>
            </div>
            <div class="item_body">
                <p>Проверьте пожалуйста папку СПАМ, если наше письмо оказалось там по какой-либо причине, добавьте, пожалуйста, Uplata в список разрешенных адресатов.</p>
            </div>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Что мне делать, если я забыл пароль?</p>
            </div>
            <div class="item_body">
                <p>Воспользуйтесь меню «Сбросить пароль». Укажите email, с которым Вы зарегистрированы в Uplata. На данный почтовый адрес придет ссылка, перейдя по который Вы сможете установить новый пароль входа.</p>
            </div>
        </div>
    </div>
    <div id="bonus_and_promocodes" class="sector">
        <div class="sector_header">
            <h2>Бонусный счет и промокоды:</h2>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Что такое бонусный счет?</p>
            </div>
            <div class="item_body">
                <p>Бонусный счет – это такой специальный счет, где хранятся бонусные гривны, полученные Вами в подарок от Uplata и/или заработанные за приглашение новых пользователей и участие в наших акциях. Количество бонусов на счету, а также срок их действия можно увидеть на панели верхнего меню в личном кабинете, а также в меню зарегистрированного пользователя «Бонусный счет».</p>
            </div>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Как получить бонусы?</p>
            </div>
            <div class="item_body">
                <p>Бонусы можно получить при регистрации по приглашению друга, за приглашение новых зарегистрированных пользователей, или просто в подарок от Uplata в честь особенного события или праздника. Кроме этого, время от времени мы проводим специальные акции и розыгрыши, которые тоже позволяют получить бонусы. Следите за нами в социальных сетях.</p>
            </div>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Что такое промокод?</p>
            </div>
            <div class="item_body">
                <p>Промокод – специальный код, который при активации на сайте Uplata дает пользователю определенные преимущества. Например, скидки на услуги, спецпредложения, бонусы.</p>
            </div>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Когда бонусы зачисляются на счет?</p>
            </div>
            <div class="item_body">
                <p>Время зачисления бонуса, зависит от события:</p>
                <ul>
                    <li>бонусы, которые предусматривают введение промокода (напр. инвайта), зачисляются на счет пользователя сразу</li>
                    <li>бонусы за зарегистрированных новых пользователей зачисляются на счет после первой успешной платежной операции нового пользователя в Uplata</li>
                    <li>бонусы, которые предоставляются в рамках акций и розыгрышей, начисляются согласно условиям конкретной акции или розыгрыша.</li>
                </ul>
            </div>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Как тратить бонусы?</p>
            </div>
            <div class="item_body">
                <p>В данный момент бонусы можно потратить только на оплату комиссий при совершении платежей в Uplata. Если у Вас на счету есть бонусные гривны, они будут списываться в счет комиссии автоматически и в первую очередь. Если суммы бонусов не хватает для оплаты комиссии, недостающая часть будет списана с платежной карты.</p>
                <p>В дальнейшем мы планируем расширять список возможностей использования бонусов, поэтому следите за нашими новостями</p>
            </div>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Можно ли оплатить комиссию за перевод с карты на карту за счет бонусов?</p>
            </div>
            <div class="item_body">
                <p>Пока такой возможности нет, но в будущем это будет возможно.</p>
            </div>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Когда бонусы списываются со счета?</p>
            </div>
            <div class="item_body">
                <p>Бонусы списываются со счета автоматически при оплате комиссии во время платежей. Кроме этого по окончанию срока действия бонусный счет автоматически обнуляется.</p>
            </div>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Где посмотреть операции по бонусному счету?</p>
            </div>
            <div class="item_body">
                <p>Всю историю операций по вашему бонусному счету можно посмотреть в меню «Бонусный счет» в личном кабинете. Здесь хранится информация о всех пополнениях и списаниях со счета: когда, на что, и на какую сумму изменился ваш бонусный баланс.</p>
            </div>
        </div>
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Какой срок действия бонусов?</p>
            </div>
            <div class="item_body">
                <p>Срок действия бонусов составляет 30 календарных дней со дня последнего поступления бонусов на счет. Каждое пополнение продлевает срок действия Ваших бонусов до 30 календарных дней.</p>
                <div class="example">Пример:
                    <p>01.03.2017 Петя зарегистрировался по приглашению друга. В этот день ему на счет поступило 50 бонусных гривен, срок действия 30 дней (т.е. до 31.03.2017)</p>
                    <p>21.03.2017 Петя заплатил коммуналку и потратил 10 бонусных гривен на оплату комиссии. У него остается 40 бонусных гривен сроком действия еще 10 дней до 31.03.2017</p>
                    <p>25.03.2017 девушка Пети Маша, которую он пригласил в Uplata совершила свой первый платеж - пополнила мобильный. За это Петя получает +50 бонусных гривен и срок действия его бонусного счета продлевается до 30 дней.</p>
                    <p>Таким образом у него на счету 90 бонусных гривен, сроком действия 30 дней, т.е. до 24.04.2017</p>
                </div>
            </div>
        </div>
    </div>
    <div id="profitable_to_invite" class="sector">
        <div class="sector_header">
            <h2>Акции</h2>
        </div>
		<!-- 
        <div class="item" id="aroma">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Акция с Aroma Kava</p>
            </div>
            <div class="item_body">
                <p>Хочешь любой напиток от АромаКавы бесплатно?</p>
                <p>Пополни мобильный, оплати коммуналку, игры, интернет, ТВ и  прочие услуги* на www.uplata.ua  на 500 грн, и получи напиток от Арома Кавы в подарок.</p>
                <p>В личный кабинет тебе придет промокод, который необходимо показать в АромаКаве, - и напиток твой.</p>
                <p>*Переводы с карту на карту в акции не участвуют.</p>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                if (location.hash == '#aroma') {
                    $('html, body').animate({
                        scrollTop: $('#aroma').offset().top
                    }, 1000);

                    $('#aroma .item_body').addClass('show');
                }
            });
        </script>
		 -->
        <div class="item">
            <span class="control_button"></span>
            <div class="item_header">
                <p>Почему выгодно приглашать друзей в Uplata?</p>
            </div>
            <div class="item_body">
                <p>До 31 августа 2018 года у нас действует специальная акция для друзей. Каждый зарегистрированный пользователь Uplata может выслать своим друзьям специальное приглашение с промокодом (инвайт), зарегистрировавшись по которому новый пользователь получает 50 бонусных гривен. В свою очередь, отправитель инвайта получает еще 50 бонусных гривен для себя, как только приглашенный пользователь осуществит свою первую платежную операцию в Uplata.</p>
                <p>Срок действия акции и размер бонуса может быть изменен. Успейте воспользоваться самым выгодным предложением ☺</p>
            </div>
        </div>
    </div>
</div>